@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('bootstrap/dist/css/bootstrap.min.css');

* {
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-color {
  background: #16ABF8;
}

.very-high {
  background-color: #ED4C5C
}

.high {
  background-color: #F8A541
}

.medium {
  background-color: #00A790
}

.low {
  background-color: #428BC1
}

.very-low {
  background-color: #8942C1
}
